@import "../../scss/variables";
@import "../../scss/animations";

section {
  background-color: #22272B;
  width: 5rem;
  height: 100%;
  position: fixed;
  top: $height-header;
  left: 0;
  z-index: 100; // TODO: refactor z-index across the app
  transition: .75s;

  &.expanded {
    width: 20rem;
  }

  .menu-item {

    .menu-item-header {
      font-size: 1.25rem;
      opacity: .2;
      align-items: center;
      display: flex;

      &.expanded {
        opacity: .8;
      }

      p {
        width: 5rem; // TODO: extract
        text-align: center;
      }

      span {
        letter-spacing: 2px;
        text-transform: uppercase;
        position: fixed;
        left: 5rem; // TODO: extract
        margin-left: 1rem;
        opacity: 0;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;

        &.expanded {
          opacity: 0.8;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }

      }

    }

    .menu-item-body {
      opacity: .2;
      position: fixed;
      left: 5rem; // TODO: extract
      margin-left: 1rem;

      &.expanded {
        opacity: .8;
      }

      p {
        opacity: 0;
        text-align: right;
        margin-right: 3rem; // TODO: CALC PROPER + EXTRACT

        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;

        &.expanded {
          opacity: 0.8;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }

      }

    }

  }

}
