<header>
  <fa-icon id="menu-button" [icon]="iconMenu" (click)="toggleMenu()"></fa-icon>
  <double-title
    [title]="title"
    [menuExpanded]="menuExpanded"
    [menuClosed]="menuClosed">
  </double-title>
  <p id="tag-line" [class.expanded]="menuExpanded" [class.closed]="menuClosed">{{ tagLine }}</p>
  <p id="under-development"><fa-icon [icon]="iconWarning"></fa-icon>Under Development</p>
</header>

<menu-bar [menuExpanded]="menuExpanded"></menu-bar>

<game-section [menuExpanded]="menuExpanded"></game-section>

<footer>
  <a [href]="urlGitHub" target="_blank">
    <img src="assets/img/muntjac.png" alt="muntjac">
  </a>
</footer>
