
#cluster-section {
  background-color: #101214;
  color: #101214;
  width: calc(100% - 25rem);
  position: fixed;
  top: 4rem;
  left: 25rem;
  height: calc(100% - 4rem);

  &.expanded {
    left: 25rem;
  }

  #points { // TODO: rename

  }

}
