<section [class.expanded]="menuExpanded"> <!-- TODO: possible refactor of class binding? -->

  <div class="menu-item" id="instructions">
    <div class="menu-item-header">
      <p><fa-icon [icon]="iconInfo" [class.expanded]="menuExpanded"></fa-icon></p>
      <span [class.expanded]="menuExpanded">Instructions</span>
    </div>
    <div class="menu-item-body" [class.expanded]="menuExpanded">
      <p [class.expanded]="menuExpanded">Given today’s equation</p>
      <p [class.expanded]="menuExpanded">Calculate the value of <br> Y for each of the X’s</p>
      <p [class.expanded]="menuExpanded">Each system is an X <br> Each planet is a Y</p>
      <p [class.expanded]="menuExpanded">Select all 7 correct Y’s <br> in the time limit to pass</p>
    </div>
  </div>

  <!-- TODO: sort the fade down, fix the position of #difficulty below #instructions? -->
  <div class="menu-item" id="difficulty" [class.expanded]="menuExpanded">
    <div class="menu-item-header" [class.expanded]="menuExpanded">
      <p><fa-icon [icon]="iconSettings" [class.expanded]="menuExpanded"></fa-icon></p>
      <span [class.expanded]="menuExpanded">Difficulty</span>
    </div>
    <div class="menu-item-body" [class.expanded]="menuExpanded">
      <ol>
        <li [class.active]="difficulty === 0" (click)="difficulty = 0">recruit</li>
        <li [class.active]="difficulty === 1" (click)="difficulty = 1">regular</li>
        <li [class.active]="difficulty === 2" (click)="difficulty = 2">hardened</li>
        <li [class.active]="difficulty === 3" (click)="difficulty = 3">veteran</li>
      </ol>
      <div id="difficulty-info">
        <p>{{ difficultyInfo }} <br><fa-icon *ngIf="difficulty === 3" [icon]="iconDeath"></fa-icon></p>
      </div>
    </div>
  </div>

</section>
