@import "../../../../scss/variables";

section {
  background-color: $gun_metal;
  width: $width_info_bar;
  position: fixed;
  top: $height_header;
  left: $width_menu_initial;
  height: 100%;
  z-index: 101;
  transition: .75s;

  &.expanded {
    left: $width_menu_expanded;
  }

  p {
    opacity: .8;
    margin: 1.5rem;
  }

  #equation {
    padding: .5rem 1.5rem;
    background-color: $lochmara;
    border-right: .5rem solid $venetian;
    margin-left: 0;
    width: calc(100% - 3.5rem);
  }

  ol {
    list-style: none;
    padding-left: 0;

    li {
      background-color: $steel;
      border-right: 5px solid $shuttle;
      padding: 5px 1.5rem;
      text-transform: uppercase;
      width: 5rem;
      margin: 0.75rem 0;
      opacity: 0.7;
      transition: 0.5s;
      letter-spacing: 1px;
    }

  }

  #end-game-message {
    position: fixed;
    bottom: 5rem;
    text-align: center;
    width: $width_info_bar;

    h1 {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    button {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $gun_metal;
    }

  }

}
