<section [class.expanded]="menuExpanded">
  <p>{{ date }}</p>
  <p>Today's Equation is</p>
  <p id="equation">{{ equation }}</p>
  <ol>
    <li *ngFor="let xValue of xValues">{{ xValue }}</li>
  </ol>

  <div id="end-game-message" *ngIf="gameOver">
    <h1>Success</h1>
    <p> {{ successMsg }}</p>
    <button mat-raised-button (click)="resultService.copy()"><fa-icon [icon]="iconCopy"></fa-icon> Result</button>
    <!-- future TODO: implement notification service: copied notification -->
  </div>
</section>
