
@keyframes fadeInRight {
  0%   { opacity: 0; transform: translateX(-20px); }
  100% { opacity: .8; transform: translateX(0); }
}

@keyframes fadeOutRight {
  0%   { opacity: .8; transform: translateX(0px); }
  100% { opacity: 0; transform: translateX(-20px); }
}

@keyframes fadeIn {
  0%   { opacity: 0;  }
  100% { opacity: .8; }
}

@keyframes fadeOut {
  0%   { opacity: .8; }
  100% { opacity: 0;  }
}
