
/* Structural */
$height_header: 4rem;

$width_info_bar: 20rem;
$width_menu_initial: 5rem;
$width_menu_expanded: 20rem;

/* Colours */
$text_primary: #eee;
$text_secondary: #ccc;

$deep_space: #101214; // Dark Neutral -100
$charcoal: #22272B;   // Dark Neutral 200
$gun_metal: #2C333A;  // Dark Neutral 300
$shuttle: #596773;
$steel: #738496;      // Dark Neutral 600

$eucalyptus: #1F845A;
$fine_pine: #36B37E;
$mint: #C6FFD4;

$venetian: #075C96;
$lochmara: #007ACC;

$footer: #303030
